$clr-blue: #FFEBF5 !default;
$clr-action-blue-lightest: #FBC1DA !default;
$clr-action-blue-lighter: #F897BF !default;
$clr-action-blue-light: #F46CA5 !default;
$clr-action-blue-light-midtone: #F1428A !default;
$clr-action-blue: #ED186F !default;
$clr-action-blue-accessible: #D91468 !default;
$clr-action-blue-dark-midtone: #C41261 !default;
$clr-action-blue-dark: #B0105B!default;
$clr-action-blue-darker: #9B0D54 !default;
$clr-action-blue-darkest: #9B0D54 !default;
